<header>
    <span><a href="/">Match App</a></span>
    <ul>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</header>