header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px 40px;
    background-color: $app-color; 

    ul {
        display: flex;
        gap: 0.5em;

        li {
            padding: 5px 10px;
            background-color: white;
            border-radius: 5px;
        }
    }
}