/* CSS Document */

/* CSS Reset */
*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/* 
  Custom Properties
*/
:root{
  --text-color: #111111;
  --section-color: #f7f7f7;
  --app-color: lightblue;
}
/* 
  Einde Custom Properties
*/

body{
  background-color: var(--section-color);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 20px 40px;
  background-color: var(--app-color); 
}

header ul {
  display: flex;
  gap: 0.5em;
}

header ul li{
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
}

main{
  padding: 20px 40px;
}

footer{
  width: 100%;
  min-height: 60px;
  background-color: var(--app-color);
  padding: 20px 40px;
}

ul{
  list-style: none;
}