<h1>Restaurants</h1>
<ul style="display: flex; flex-direction: column; gap: 20px;">
    {{#each restaurants}}
        <li style="display: flex; flex-direction: column; background-color: lightblue; padding: 10px 20px;">
            <a href="/restaurants/{{ slug }}">{{ name }}</a>
        </li>
    {{/each}}
</ul>